@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
}

a {
  display: flex;
  height: unset;
  text-decoration: none;
}
.container{
  width: 100%;
  max-width: 1440px;
  padding-inline: 135px;
  margin: 0 auto;
}
.button-yellow {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: linear-gradient(11deg, #FB0 25.24%, #FFEEC0 110.34%);
  width: fit-content;

  color: #ffffff;
  font-family: "Artegra Soft Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}